<div class="content">
  <h1 style="margin-bottom: 3vh;" class="important-text"><b>Auditoriums</b></h1>
  <table class="table table-striped custom-table bg-dark" *ngIf="auditorium_list!=null && auditorium_list.length>0">
    <thead>
    <tr>
      <th scope="col">Auditorium ID</th>
      <th scope="col">Name</th>
      <th scope="col">Rows</th>
      <th scope="col">Seats Per Row</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let aud of auditorium_list">
        <td>{{aud.id}}</td>
        <td>{{aud.name}}</td>
        <td>{{aud.rows}}</td>
        <td>{{aud.seatsPerRow}}</td>
        <td><a routerLink="/auditoriums/{{aud.id}}" class="btn btn-secondary bg-dark important-text">Update</a></td>
       <td><button (click)="delete_auditorium(aud.id)" class="btn btn-secondary bg-dark important-text">Delete</button></td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="auditorium_list==null || auditorium_list.length==0" class="important-text" style="margin: 0 auto;margin-top: 3vh!important;">There are no auditoriums.</div>
  <a routerLink="/auditoriums/new" class="btn btn-secondary bg-dark important-text" style="margin: 0 auto;display: block;margin-top: 3vh!important;width: fit-content">Create Auditorium</a>
</div>
