<div class="content">
  <h1 style="text-align: center;margin-top: 5vh;" class="important-text"><b>Reservations</b></h1>
  <div class="table-responsive" *ngIf="reservation_list!=null && reservation_list.length>0">
<table class="table table-striped custom-table bg-dark">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Reservation Time</th>
    <th scope="col">Performance</th>
    <th scope="col">Auditorium</th>
    <th scope="col">Seats</th>
    <th scope="col">Show Time</th>
    <th scope="col">Price</th>
    <th scope="col">Cancel</th>
    <th scope="col">Check In</th>
  </tr>
  </thead>
<tbody>
  <tr *ngFor="let reservation of reservation_list" scope="row">
    <td>{{reservation.reservation.id}}</td>
    <td>{{reservation.reservation.timestamp.toString().split("GMT")[0]}}</td>
    <td>{{reservation.show.performance.name}}</td>
    <td>{{reservation.show.auditorium.name}}</td>
    <td>{{reservation.tickets.join(", ")}}</td>
    <td>{{reservation.show.dateTime.toString().split("GMT")[0]}}</td>
    <td>{{reservation.show.performance.ticketPrice*reservation.reservation.tickets.length}} €</td>
    <td><button class="btn btn-secondary bg-dark important-text" (click)="delete_reservation(reservation.reservation.id)" [disabled]="reservation.show.dateTime.getTime() - 60*60000 <= today.getTime()">Cancel</button></td>
    <td><button class="btn btn-secondary bg-dark important-text" (click)="check_in(reservation.reservation.id)" [disabled]="reservation.reservation.tickets.at(0).checkedIn || today.getTime() >= reservation.show.dateTime.getTime() + reservation.show.performance.duration*60000 || today.getTime() <= reservation.show.dateTime.getTime() - 60*60000">Check In</button></td>
  </tr>
</tbody>
</table>
  </div>
  <div *ngIf="reservation_list==null || reservation_list.length==0" class="important-text" style="margin: 0 auto">You have no reservations</div>
</div>
