<div style="margin: 0 auto;width: fit-content">
  <h1 style="text-align: center;margin-top: 5vh;" class="important-text"><b>Login</b></h1>
  <div class="form-group">
    <label class="text-secondary">Email:</label>
    <input type="email" id="form2Example1" [(ngModel)]="email" class="form-control" style="margin:0 auto" placeholder="Email" />
  </div>

  <div class="form-group" style="margin-top: 3vh;">
    <label class="text-secondary">Password:</label>
    <input type="password" id="form2Example2" class="form-control" [(ngModel)]="password" style="margin:0 auto" placeholder="Password" />
  </div>

  <button (click)="login()" class="btn btn-secondary bg-dark important-text" style="margin: 0 auto;display: block;margin-bottom: 3vh!important;margin-top: 2vh!important;">Sign in</button>

  <div class="text-center text-secondary">
    <p>Don't have an account? <a routerLink="/register" class="important-text">Register</a></p>
    <p>or sign in with:</p>
    <button type="button" id="googleButton" class="btn btn-link btn-floating mx-1" (click)="googleSignIn()">
      <i class="fab fa-google" style="color: #8CEAED"></i>
    </button>

  </div>
</div>
