/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #2F4F4F;
}
button.custom-date-class {
  background: cadetblue;
  border-radius: 25px;
}
.important-text{
  color:#8CEAED;text-align: center;
}
.text-secondary{
  color: #D3ECED!important;
}
.secondary-bg{
  background-color: #416C6E!important;
}
